WebContent/WEB-INF/services/Reserva/META-INF/Reserva.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Reserva" targetNamespace="http://www.mtis.org/Reserva/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.mtis.org/Reserva/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Reserva/">
      <xsd:element name="crearReserva">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idPaquete" type="xsd:int"/>
          	<xsd:element name="email" type="xsd:string"/>
          	<xsd:element name="unidades" type="xsd:int"/>
          	<xsd:element name="precio" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="crearReservaResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="creada" type="xsd:boolean"/>
          	<xsd:element name="codigoError" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="crearReservaRequest">
    <wsdl:part name="parameters" element="tns:crearReserva">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearReservaResponse">
    <wsdl:part name="parameters" element="tns:crearReservaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Reserva">
    <wsdl:operation name="crearReserva">
      <wsdl:input message="tns:crearReservaRequest">
    </wsdl:input>
      <wsdl:output message="tns:crearReservaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservaSOAP" type="tns:Reserva">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearReserva">
      <soap:operation soapAction="http://www.mtis.org/Reserva/crearReserva"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reserva">
    <wsdl:port name="ReservaSOAP" binding="tns:ReservaSOAP">
      <soap:address location="http://localhost:9080/PaqueteVacacional/services/Reserva?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
