WSDL/Disponibilidad.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mtis.org/Disponibilidad/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Disponibilidad" targetNamespace="http://www.mtis.org/Disponibilidad/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Disponibilidad/">
      <xsd:element name="VerificarDisponibilidad">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="id" type="xsd:int" />
          	<xsd:element name="unidades" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="VerificarDisponibilidadResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="codigoError" type="xsd:int"
          		maxOccurs="1" minOccurs="0">
          	</xsd:element>
          	<xsd:element name="precio" type="xsd:float"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarDisponibilidad">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id" type="xsd:int"></xsd:element>
      			<xsd:element name="unidades" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarDisponibilidadResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizado" type="xsd:boolean"></xsd:element>
      			<xsd:element name="codigoError" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VerificarDisponibilidadRequest">
    <wsdl:part element="tns:VerificarDisponibilidad" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VerificarDisponibilidadResponse">
    <wsdl:part element="tns:VerificarDisponibilidadResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ActualizarDisponibilidadRequest">
  	<wsdl:part name="parameters" element="tns:ActualizarDisponibilidad"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarDisponibilidadResponse">
  	<wsdl:part name="parameters" element="tns:ActualizarDisponibilidadResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Disponibilidad">
    <wsdl:operation name="VerificarDisponibilidad">
      <wsdl:input message="tns:VerificarDisponibilidadRequest"/>
      <wsdl:output message="tns:VerificarDisponibilidadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDisponibilidad">
    	<wsdl:input message="tns:ActualizarDisponibilidadRequest"></wsdl:input>
    	<wsdl:output message="tns:ActualizarDisponibilidadResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DisponibilidadSOAP" type="tns:Disponibilidad">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="VerificarDisponibilidad">

  		<soap:operation
  			soapAction="http://www.mtis.org/Disponibilidad/VerificarDisponibilidad" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ActualizarDisponibilidad">

  		<soap:operation
  			soapAction="http://www.mtis.org/Disponibilidad/ActualizarDisponibilidad" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Disponibilidad">
    <wsdl:port binding="tns:DisponibilidadSOAP" name="DisponibilidadSOAP">
      <soap:address location="http://localhost:9080/PaqueteVacacional/services/Disponibilidad?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
