WSDL/Facturacion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mtis.org/Facturacion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Facturacion" targetNamespace="http://www.mtis.org/Facturacion/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Facturacion/">
      <xsd:element name="CrearFactura">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idReserva" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearFacturaResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="creada" type="xsd:boolean" />
          	<xsd:element name="CodigoError" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CrearFacturaRequest">
    <wsdl:part element="tns:CrearFactura" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CrearFacturaResponse">
    <wsdl:part element="tns:CrearFacturaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Facturacion">
    <wsdl:operation name="CrearFactura">
      <wsdl:input message="tns:CrearFacturaRequest"/>
      <wsdl:output message="tns:CrearFacturaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacturacionSOAP" type="tns:Facturacion">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="CrearFactura">

  		<soap:operation
  			soapAction="http://www.mtis.org/Facturacion/CrearFactura" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Facturacion">
    <wsdl:port binding="tns:FacturacionSOAP" name="FacturacionSOAP">
      <soap:address location="http://localhost:9080/PaqueteVacacional/services/Facturacion?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
