WSDL/Usuario.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mtis.org/Usuario/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuario" targetNamespace="http://www.mtis.org/Usuario/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Usuario/">
      <xsd:element name="VerificarUsuario">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="usuario" type="xsd:string" />
          	<xsd:element name="password" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="VerificarUsuarioResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="verificado" type="xsd:boolean" />
          	<xsd:element name="codigoError" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VerificarUsuarioRequest">
    <wsdl:part element="tns:VerificarUsuario" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VerificarUsuarioResponse">
    <wsdl:part element="tns:VerificarUsuarioResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Usuario">
    <wsdl:operation name="VerificarUsuario">
      <wsdl:input message="tns:VerificarUsuarioRequest"/>
      <wsdl:output message="tns:VerificarUsuarioResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioSOAP" type="tns:Usuario">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="VerificarUsuario">

  		<soap:operation
  			soapAction="http://www.mtis.org/Usuario/VerificarUsuario" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port binding="tns:UsuarioSOAP" name="UsuarioSOAP">
      <soap:address location="http://localhost:9080/PaqueteVacacional/services/Usuario?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
