WebContent/WEB-INF/services/Descuentos/META-INF/Notificacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Notificacion" targetNamespace="http://www.mtis.org/Notificacion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.mtis.org/Notificacion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Notificacion/">
      <xsd:element name="email">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="email" type="xsd:string"/>
          	<xsd:element name="idReserva" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="emailResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="enviado" type="xsd:boolean"/>
          	<xsd:element maxOccurs="1" minOccurs="0" name="CodigoError" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MensajeError">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="CodigoError" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="MensajeErrorResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="MensajeError" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MensajeErrorRequest">
    <wsdl:part name="parameters" element="tns:MensajeError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MensajeErrorResponse">
    <wsdl:part name="parameters" element="tns:MensajeErrorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="emailRequest">
    <wsdl:part name="parameters" element="tns:email">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="emailResponse">
    <wsdl:part name="parameters" element="tns:emailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Notificacion">
    <wsdl:operation name="email">
      <wsdl:input message="tns:emailRequest">
    </wsdl:input>
      <wsdl:output message="tns:emailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MensajeError">
      <wsdl:input message="tns:MensajeErrorRequest">
    </wsdl:input>
      <wsdl:output message="tns:MensajeErrorResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificacionSOAP" type="tns:Notificacion">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="email">
      <soap:operation soapAction="http://www.mtis.org/Notificacion/email"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MensajeError">
      <soap:operation soapAction="http://www.mtis.org/Notificacion/MensajeError"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notificacion">
    <wsdl:port name="NotificacionSOAP" binding="tns:NotificacionSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
